@model Atis.Domain.Models.Tbl90Reference    	

       <!-- Delete  Skriptdatum:  15.03.2012  10:32    -->        

@{
    ViewBag.Title = Tbl90ReferencesRes.StringsRes.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl90ReferencesRes.StringsRes.Delete</h2>

    <div>
        <p>@SharedRes.StringsRes.DeleteMessage       
  

            @if (Model.RegnumID != null)
                {<p>@Model.ReferenceID / @Model.Tbl03Regnums.RegnumName ?</p>}  
            @if (Model.PhylumID != null)
                {<p>@Model.ReferenceID / @Model.Tbl06Phylums.PhylumName ?</p>}  
            @if (Model.DivisionID != null)
                {<p>@Model.ReferenceID / @Model.Tbl09Divisions.DivisionName ?</p>}  
            @if (Model.SubphylumID != null)
                {<p>@Model.ReferenceID / @Model.Tbl12Subphylums.SubphylumName ?</p>}  
            @if (Model.SubdivisionID != null)
                {<p>@Model.ReferenceID / @Model.Tbl15Subdivisions.SubdivisionName ?</p>}  
            @if (Model.SuperclassID != null)
                {<p>@Model.ReferenceID / @Model.Tbl18Superclasses.SuperclassName ?</p>}  
            @if (Model.ClassID != null)
                {<p>@Model.ReferenceID / @Model.Tbl21Classes.ClassName ?</p>}  
            @if (Model.SubclassID != null)
                {<p>@Model.ReferenceID / @Model.Tbl24Subclasses.SubclassName ?</p>}  
            @if (Model.InfraclassID != null)
                {<p>@Model.ReferenceID / @Model.Tbl27Infraclasses.InfraclassName ?</p>}  
            @if (Model.LegioID != null)
                {<p>@Model.ReferenceID / @Model.Tbl30Legios.LegioName ?</p>}  
            @if (Model.OrdoID != null)
                {<p>@Model.ReferenceID / @Model.Tbl33Ordos.OrdoName ?</p>}  
            @if (Model.SubordoID != null)
                {<p>@Model.ReferenceID / @Model.Tbl36Subordos.SubordoName ?</p>}  
            @if (Model.InfraordoID != null)
                {<p>@Model.ReferenceID / @Model.Tbl39Infraordos.InfraordoName ?</p>}  
            @if (Model.SuperfamilyID != null)
                {<p>@Model.ReferenceID / @Model.Tbl42Superfamilies.SuperfamilyName ?</p>}  
            @if (Model.FamilyID != null)
                {<p>@Model.ReferenceID / @Model.Tbl45Families.FamilyName ?</p>}  
            @if (Model.SubfamilyID != null)
                {<p>@Model.ReferenceID / @Model.Tbl48Subfamilies.SubfamilyName ?</p>}  
            @if (Model.InfrafamilyID != null)
                {<p>@Model.ReferenceID / @Model.Tbl51Infrafamilies.InfrafamilyName ?</p>}  
            @if (Model.SupertribusID != null)
                {<p>@Model.ReferenceID / @Model.Tbl54Supertribusses.SupertribusName ?</p>}  
            @if (Model.TribusID != null)
                {<p>@Model.ReferenceID / @Model.Tbl57Tribusses.TribusName ?</p>}  
            @if (Model.SubtribusID != null)
                {<p>@Model.ReferenceID / @Model.Tbl60Subtribusses.SubtribusName ?</p>}  
            @if (Model.InfratribusID != null)
                {<p>@Model.ReferenceID / @Model.Tbl63Infratribusses.InfratribusName ?</p>}  
            @if (Model.GenusID != null)
                {<p>@Model.ReferenceID / @Model.Tbl66Genusses.GenusName ?</p>}  
            @if (Model.FiSpeciesID != null)
                {<p>@Model.ReferenceID / @Model.Tbl69FiSpeciesses.Tbl66Genusses.GenusName @Model.Tbl69FiSpeciesses.FiSpeciesName @Model.Tbl69FiSpeciesses.Subspecies @Model.Tbl69FiSpeciesses.Divers ?</p>}  
            @if (Model.PlSpeciesID != null)
                {<p>@Model.ReferenceID / @Model.Tbl72PlSpeciesses.Tbl66Genusses.GenusName @Model.Tbl72PlSpeciesses.PlSpeciesName @Model.Tbl72PlSpeciesses.Subspecies @Model.Tbl72PlSpeciesses.Divers ?</p>}  

 
         </p>     	   
    </div>
@using (Html.BeginForm()) {
    <p>
            <input name="confirmButton" type="submit" value="@SharedRes.StringsRes.ButtonDelete" /> 
        @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index")

    </p>
}

    
