@model Atis.Domain.Models.Tbl90Reference 

        <!-- Details Skriptdatum:  15.03.2012  10:32    -->   

@{
    ViewBag.Title = Tbl90ReferencesRes.StringsRes.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl90ReferencesRes.StringsRes.Details</h2>

    <div id="pagination">
        @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index", null, new { style = "font-weight:bold" })
    </div>

<fieldset><legend>@SharedRes.StringsRes.Fields </legend>   



 
        <p>
            <strong>@Tbl90ReferencesRes.StringsRes.ReferenceID  :</strong>
            @Model.ReferenceID 
        </p>      
        <p>
            <strong>@SharedRes.StringsRes.CountID  :</strong>
            @Model.CountID            
        </p>      
  
        <p>
            <strong>@Tbl90ReferencesRes.StringsRes.RefExpert  :</strong>      
            @Model.RefExpertID 
        </p>    
    
        <p>
            <strong>@Tbl90ReferencesRes.StringsRes.RefSource  :</strong>      
            @Model.RefSourceID  
        </p>    
    
        <p>
            <strong>@Tbl90ReferencesRes.StringsRes.RefAuthor  :</strong>      
            @Model.RefAuthorID  
        </p>    
   
        <p>
            <strong>@SharedRes.StringsRes.Valid  :</strong>
            @Html.DisplayFor(m => m.Valid)
            @Model.ValidYear 
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Info  :</strong>
            @Model.Info            
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Memo  :</strong>
            @Model.Memo            
        </p>      
 
         <p>
            <strong>@SharedRes.StringsRes.Writer  :</strong>
            @Model.Writer  |
            @Model.WriterDate.ToShortDateString() 
            <strong>@@</strong>
            @Model.WriterDate.ToShortTimeString() 
        </p>  
        <p>        
            <strong>@SharedRes.StringsRes.Updater  :</strong>
            @Model.Updater  |
            @Model.UpdaterDate.ToShortDateString() 
            <strong>@@</strong>
            @Model.UpdaterDate.ToShortTimeString() 
        </p>  
   
        <p></p>
</fieldset>
<p>
    @Html.ActionLink(SharedRes.StringsRes.ActionLnkEdit, "Edit", new { id = Model.ReferenceID }) |
    @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index")
</p>
    <div class="pagination"></div>

    
  

