@model Atis.Domain.ViewModels.Tbl90References.ListViewModel

        <!-- Index  Skriptdatum:  15.03.2012  10:32   -->    
    

@{
    ViewBag.Title =  Tbl90ReferencesRes.StringsRes.Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl90ReferencesRes.StringsRes.Index</h2>

@using (Html.BeginForm("Index", "Tbl90References", FormMethod.Get))              
{
    <fieldset class="filtering">
        <legend>@SharedRes.StringsRes.Filter</legend>  
        <div> 
            <p></p>         

              <table>                                             
                     <tr>
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.RefExpert </strong></td>
                         <td>@Html.DropDownListFor(m => m.RefExpertID, Model.RefExpertList, SharedRes.StringsRes.DDLAll, new { @class = "ddl80" })     </td>      
                     </tr>                    
    
                  <tr>   
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.RefSource </strong></td>
                         <td>@Html.DropDownListFor(m => m.RefSourceID, Model.RefSourceList, SharedRes.StringsRes.DDLAll, new { @class = "ddl80" })    </td>       
                     </tr>     
    
                     <tr>
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.RefAuthor </strong></td>
                         <td>@Html.DropDownListFor(m => m.RefAuthorID, Model.RefAuthorList, SharedRes.StringsRes.DDLAll, new { @class = "ddl80" })      </td>     
                     </tr>        
              </table>                                                           
    
              <table>                                             
                     <tr>
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLFiSpeciesName </strong></td>
                         <td>@Html.DropDownListFor(m => m.FiSpeciesID, Model.FiSpeciesList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })     </td>      
                                         
    
                    
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLPlSpeciesName </strong></td>
                         <td>@Html.DropDownListFor(m => m.PlSpeciesID, Model.PlSpeciesList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })    </td>       
                         
    
                     
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLGenusName </strong></td>
                         <td>@Html.DropDownListFor(m => m.GenusID, Model.GenusList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })      </td>     
                     </tr>        
              </table>                                                           
    
              <table>                                             
                     <tr>
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLInfratribusName </strong></td>
                         <td>@Html.DropDownListFor(m => m.InfratribusID, Model.InfratribusList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })     </td>      
                                         
    
                    
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLSubtribusName </strong></td>
                         <td>@Html.DropDownListFor(m => m.SubtribusID, Model.SubtribusList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })    </td>       
                         
    
                     
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLTribusName </strong></td>
                         <td>@Html.DropDownListFor(m => m.TribusID, Model.TribusList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })      </td>     
                             
    
                     
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLSupertribusName </strong></td>
                         <td>@Html.DropDownListFor(m => m.SupertribusID, Model.SupertribusList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })      </td>     
                     </tr>        
              </table>                                                           
    
              <table>                                             
                     <tr>
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLInfrafamilyName </strong></td>
                         <td>@Html.DropDownListFor(m => m.InfrafamilyID, Model.InfrafamilyList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })     </td>      
                                         
    
                    
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLSubfamilyName </strong></td>
                         <td>@Html.DropDownListFor(m => m.SubfamilyID, Model.SubfamilyList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })    </td>       
                         
    
                     
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLFamilyName </strong></td>
                         <td>@Html.DropDownListFor(m => m.FamilyID, Model.FamilyList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })      </td>     
                             
    
                     
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLSuperfamilyName </strong></td>
                         <td>@Html.DropDownListFor(m => m.SuperfamilyID, Model.SuperfamilyList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })      </td>     
                     </tr>        
              </table>                                                           
    
              <table>                                             
                     <tr>
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLInfraordoName </strong></td>
                         <td>@Html.DropDownListFor(m => m.InfraordoID, Model.InfraordoList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })     </td>      
                                         
    
                    
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLSubordoName </strong></td>
                         <td>@Html.DropDownListFor(m => m.SubordoID, Model.SubordoList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })    </td>       
                         
    
                     
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLOrdoName </strong></td>
                         <td>@Html.DropDownListFor(m => m.OrdoID, Model.OrdoList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })      </td>     
                             
    
                     
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLLegioName </strong></td>
                         <td>@Html.DropDownListFor(m => m.LegioID, Model.LegioList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })      </td>     
                     </tr>        
              </table>                                                           
    
              <table>                                             
                     <tr>
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLInfraclassName </strong></td>
                         <td>@Html.DropDownListFor(m => m.InfraclassID, Model.InfraclassList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })     </td>      
                                         
    
                    
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLSubclassName </strong></td>
                         <td>@Html.DropDownListFor(m => m.SubclassID, Model.SubclassList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })    </td>       
                         
    
                     
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLClassName </strong></td>
                         <td>@Html.DropDownListFor(m => m.ClassID, Model.ClassList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })      </td>     
                             
    
                     
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLSuperclassName </strong></td>
                         <td>@Html.DropDownListFor(m => m.SuperclassID, Model.SuperclassList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })      </td>     
                     </tr>        
              </table>                                                           
    
              <table>                                             
                     <tr>
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLSubdivisionName </strong></td>
                         <td>@Html.DropDownListFor(m => m.SubdivisionID, Model.SubdivisionList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })     </td>      
                                         
    
                     
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLDivisionName </strong></td>
                         <td>@Html.DropDownListFor(m => m.DivisionID, Model.DivisionList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })      </td>     
                     </tr>        
              </table>                                                           
    
              <table>                                             
                     <tr>
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLSubphylumName </strong></td>
                         <td>@Html.DropDownListFor(m => m.SubphylumID, Model.SubphylumList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })     </td>      
                                         
    
                     
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLPhylumName </strong></td>
                         <td>@Html.DropDownListFor(m => m.PhylumID, Model.PhylumList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })      </td>     
                     </tr>        
              </table>                                                           
    
              <table>                                             
                     <tr>
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.DDLRegnumName </strong></td>
                         <td>@Html.DropDownListFor(m => m.RegnumID, Model.RegnumList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })     </td>      
                                         
            
                     
                         <td style="width:8em"><strong>@Tbl90ReferencesRes.StringsRes.ReferenceID </strong></td>
                         <td><input type="text" id="referenceid" name="referenceid" /></td>                   
  
                    <td style="width:4em"><strong>@SharedRes.StringsRes.Valid </strong></td>
                    <td>@Html.EditorFor(m => m.Valid)</td>

                    @Html.Hidden("sortBy", Model.SortBy)
                    @Html.Hidden("ascending", Model.SortAscending)

                    <td><input type="submit" value="@SharedRes.StringsRes.Search" /></td> 
                </tr>   
            </table>        
 
        </div>
    </fieldset>
}

<table class="grid" style="width: 95%">                
    <tr>
        <th></th>   
  
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "RefExpertID" }, { "DisplayName", Tbl90ReferencesRes.StringsRes.RefExpert } })</th>   
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "RefSourceID" }, { "DisplayName", Tbl90ReferencesRes.StringsRes.RefSource } })</th>   
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "SourceYear" }, { "DisplayName", Tbl90ReferencesRes.StringsRes.SourceYear } })</th>   
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "RefAuthorID" }, { "DisplayName", SharedRes.StringsRes.Author } })</th>   
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "PublicationYear" }, { "DisplayName", Tbl90ReferencesRes.StringsRes.PublicationYear } })</th>   
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "Page" }, { "DisplayName", Tbl90ReferencesRes.StringsRes.Page } })</th>   
 
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "Valid" }, { "DisplayName", SharedRes.StringsRes.Valid } })</th>
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "ValidYear" }, { "DisplayName", SharedRes.StringsRes.ValidYear } })</th>   
  
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "" }, { "DisplayName", Tbl90ReferencesRes.StringsRes.Taxo } })</th>                 

     </tr>

    @foreach (var item in Model.Tbl90References) { 
    
    <tr>
        <td class="left">
            @Html.ActionLink(SharedRes.StringsRes.ActionLnkDelete, "Delete", new { id = item.ReferenceID }) | 
            @Html.ActionLink(SharedRes.StringsRes.ActionLnkEdit, "Edit", new { id = item.ReferenceID }) |
            @Html.ActionLink(SharedRes.StringsRes.ActionLnkDetails, "Details", new { id = item.ReferenceID }) </td>           

  
        <td class="left">@if (item.RefExpertID != null)       
            {@item.Tbl90RefExperts.RefExpertName}</td>       
        <td class="left">@if (item.RefSourceID != null)       
            {@item.Tbl90RefSources.RefSourceName}</td>       
        <td class="left">@if (item.RefSourceID != null)       
            {@item.Tbl90RefSources.SourceYear}</td>       
        <td class="left">@if (item.RefAuthorID != null)       
            {@item.Tbl90RefAuthors.RefAuthorName}</td>       
        <td class="left">@if (item.RefAuthorID != null)       
            {@item.Tbl90RefAuthors.PublicationYear}</td>       
        <td class="left">@if (item.RefAuthorID != null)       
            {@item.Tbl90RefAuthors.Page}</td>       
  
 
        <td class="align-middle">
        @if (item.Valid == true) { 
                <img src="@Url.Content("~/Content/Images/Ok.png")" alt="@SharedRes.StringsRes.ValidYes" title="@SharedRes.StringsRes.ValidYes" />   } 
            else { 
                <img src="@Url.Content("~/Content/Images/cancel.png")" alt="@SharedRes.StringsRes.ValidNo" title="@SharedRes.StringsRes.ValidNo" />   
           } 
         </td>
        <td class="align-middle">@item.ValidYear</td>   
  
         <td class="left">
        @if (item.FiSpeciesID != null)
            {   <p>@item.Tbl69FiSpeciesses.Tbl66Genusses.GenusName @item.Tbl69FiSpeciesses.FiSpeciesName  @item.Tbl69FiSpeciesses.Subspecies @item.Tbl69FiSpeciesses.Divers   </p>}
        @if (item.PlSpeciesID != null)
            {   <p>@item.Tbl72PlSpeciesses.Tbl66Genusses.GenusName @item.Tbl72PlSpeciesses.PlSpeciesName  @item.Tbl72PlSpeciesses.Subspecies @item.Tbl72PlSpeciesses.Divers   </p>}
        @if (item.GenusID != null)
            {   @item.Tbl66Genusses.GenusName   }
        @if (item.InfratribusID != null)
            {   @item.Tbl63Infratribusses.InfratribusName   }
        @if (item.SubtribusID != null)
            {   @item.Tbl60Subtribusses.SubtribusName   }
        @if (item.TribusID != null)
            {   @item.Tbl57Tribusses.TribusName   }
        @if (item.SupertribusID != null)
            {   @item.Tbl54Supertribusses.SupertribusName   }
        @if (item.InfrafamilyID != null)
            {   @item.Tbl51Infrafamilies.InfrafamilyName   }
        @if (item.SubfamilyID != null)
            {   @item.Tbl48Subfamilies.SubfamilyName   }
        @if (item.FamilyID != null)
            {   @item.Tbl45Families.FamilyName   }
        @if (item.SuperfamilyID != null)
            {   @item.Tbl42Superfamilies.SuperfamilyName   }
        @if (item.InfraordoID != null)
            {   @item.Tbl39Infraordos.InfraordoName   }
        @if (item.SubordoID != null)
            {   @item.Tbl36Subordos.SubordoName   }
        @if (item.OrdoID != null)
            {   @item.Tbl33Ordos.OrdoName   }
        @if (item.LegioID != null)
            {   @item.Tbl30Legios.LegioName   }
        @if (item.InfraclassID != null)
            {   @item.Tbl27Infraclasses.InfraclassName   }
        @if (item.SubclassID != null)
            {   @item.Tbl24Subclasses.SubclassName   }
        @if (item.ClassID != null)
            {   @item.Tbl21Classes.ClassName   }
        @if (item.SuperclassID != null)
            {   @item.Tbl18Superclasses.SuperclassName   }
        @if (item.SubdivisionID != null)
            {   @item.Tbl15Subdivisions.SubdivisionName   }
        @if (item.SubphylumID != null)
            {   @item.Tbl12Subphylums.SubphylumName   }
        @if (item.DivisionID != null)
            {   @item.Tbl09Divisions.DivisionName   }
        @if (item.PhylumID != null)
            {   @item.Tbl06Phylums.PhylumName   }
        @if (item.RegnumID != null)
            {   @item.Tbl03Regnums.RegnumName   }
       </td>                 

    </tr>    
    }     
    <tr>        
   
        <td class="pager" colspan="12">        
 
           @Html.Partial("_Pager", Model)
        </td>
    </tr>       
</table>
<div>
    <ul id="nav-one" class="dropmenu css-only">      

        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkFiSpeciesRight, "Index", "Tbl69FiSpeciesses")</li>      
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkPlSpeciesRight, "Index", "Tbl72PlSpeciesses")</li>      
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkRefExpertRight, "Index", "Tbl90RefExperts")</li>      
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkRefExpertCreateRight, "Create", "Tbl90RefExperts")</li>      
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkRefSourceRight, "Index", "Tbl90RefSources")</li>      
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkRefSourceCreateRight, "Create", "Tbl90RefSources")</li>      
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkRefAuthorRight, "Index", "Tbl90RefAuthors")</li>      
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkRefAuthorCreateRight, "Create", "Tbl90RefAuthors")</li>      
    
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkReferenceRight, "Index", "Tbl90References")</li>                       
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkReferenceCreateRight, "Create", "Tbl90References",
            new { regnumId = 0,
                      phylumId = 0,
                      divisionId = 0,
                      subphylumId = 0,
                      subdivisionId = 0,
                      superclassId = 0,
                      classId = 0,
                      subclassId = 0,
                      infraclassId = 0,
                      legioId = 0,
                      ordoId = 0,
                      subordoId = 0,
                      infraordoId = 0,
                      superfamilyId = 0,
                      familyId = 0,
                      subfamilyId = 0,
                      infrafamilyId = 0,
                      supertribusId = 0,
                      tribusId = 0,
                      subtribusId = 0,
                      infratribusId = 0,
                      genusId = 0,
                      fispeciesId = 0,
                      plspeciesId = 0
            }, null)</li>               
     
  
    </ul> 
</div>           
