@model Atis.Domain.Models.AspnetUser 

<script type="text/javascript">
$(function()   {
    $('#UserId').focus();    
});
</script>

 
          <!-- _Form.cshtml  Skriptdatum: 16.03.2012  10:32    -->     
  
        @using (Html.BeginForm()) {
        <div class="pagination">
            <p><input type="submit" value="@SharedRes.StringsRes.ButtonSave" />  
                @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index", null, new { style = "font-weight:bold" })  
                @Html.ActionLink(SharedRes.StringsRes.ActionLnkClear, "Create", null, null)  
            </p> 
        </div>

        @Html.ValidationSummary() 
            <fieldset><legend>@SharedRes.StringsRes.Fields </legend>  
  
              <table><colgroup style="width:12em" span="2"></colgroup>                                             

                     <tr>
                         <td>@AspnetApplicationsRes.StringsRes.ApplicationId </td>
                         <td>@Html.DropDownListFor(m => m.ApplicationId, ViewData["ApplicationNameDDL"] as SelectList, SharedRes.StringsRes.DDLSelectOne, new { @class = "ddl15" })          
                         @Html.ValidationMessageFor(m => m.ApplicationId) </td>
                     </tr>                      
      
                     <tr>
                        <td>@AspnetUsersRes.StringsRes.UserName </td>
                        <td>@Html.TextBoxFor(m => m.UserName, new { @class = "textbox72" }) 
                        @Html.ValidationMessageFor(m => m.UserName) </td>
                    </tr>    
                    <tr>
                        <td>@AspnetUsersRes.StringsRes.LoweredUserName </td>
                        <td>@Html.TextBoxFor(m => m.LoweredUserName, new { @class = "textbox72" }) 
                        @Html.ValidationMessageFor(m => m.LoweredUserName) </td>
                    </tr>   
                    <tr>
                        <td>@AspnetUsersRes.StringsRes.MobileAlias </td>
                        <td>@Html.TextBoxFor(m => m.MobileAlias, new { @class = "textbox36" }) 
                        @Html.ValidationMessageFor(m => m.MobileAlias) </td>
                    </tr>   
                    <tr>
                        <td>@AspnetUsersRes.StringsRes.IsAnonymous </td>
                        <td>@Html.EditorFor(m => m.IsAnonymous) 
                        @Html.ValidationMessageFor(m => m.IsAnonymous) </td>
                    </tr>   
                    <tr>
                        <td>@AspnetUsersRes.StringsRes.LastActivityDate </td>
                        <td>@Html.TextBoxFor(m => m.LastActivityDate) 
                        @Html.ValidationMessageFor(m => m.LastActivityDate) </td>
                    </tr>   
        
                   </table> 
        <p></p>            
        <div class="pagination">
            <p><input type="submit" value="@SharedRes.StringsRes.ButtonSave" />  
                @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index", null, new { style = "font-weight:bold" })  
            </p>  
        </div>  

        <ul id="nav-one" class="dropmenu css-only">      

         <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkApplicationLeft, "Index", "AspnetApplications")</li>        
   

     </ul> 
</fieldset>
}   
   
