@model Atis.Domain.Models.TblCounter    	

       <!-- Delete  Skriptdatum:  3.1.2012  12:32      -->        

@{
    ViewBag.Title = TblCountersRes.StringsRes.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@TblCountersRes.StringsRes.Delete</h2>

    <div>
        <p>@SharedRes.StringsRes.DeleteMessage       
  
             <i>@Model.CounterName  ?</i>   
 
         </p>     	   
    </div>
@using (Html.BeginForm()) {
    <p>
            <input name="confirmButton" type="submit" value="@SharedRes.StringsRes.ButtonDelete" /> 
        @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index")

    </p>
}

    
