@model Atis.Domain.Models.AspnetUser 

        <!-- Details Skriptdatum:  16.03.2012  10:32    -->   

@{
    ViewBag.Title = AspnetUsersRes.StringsRes.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AspnetUsersRes.StringsRes.Details</h2>

    <div id="pagination">
        @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index", null, new { style = "font-weight:bold" })
    </div>

<fieldset><legend>@SharedRes.StringsRes.Fields </legend>   



     
        <p>
            <strong>@AspnetUsersRes.StringsRes.UserId  :</strong>
            @Model.UserId 
        </p>         
 
        <p>
            <strong>@AspnetUsersRes.StringsRes.UserName  :</strong>
            @Model.UserName 
        </p>      
    
        <p>
            <strong>@AspnetApplicationsRes.StringsRes.ApplicationName  :</strong>      
            @Model.AspnetApplications.ApplicationName 
        </p>    
     
        <p>
            <strong>@AspnetUsersRes.StringsRes.LoweredUserName  :</strong>
            @Model.LoweredUserName            
        </p>      
        <p>
            <strong>@AspnetUsersRes.StringsRes.MobileAlias  :</strong>
            @Model.MobileAlias            
        </p>        
        <p>
            <strong>@AspnetUsersRes.StringsRes.IsAnonymous  :</strong>
            @Model.IsAnonymous            
        </p>        
        <p>
            <strong>@AspnetUsersRes.StringsRes.LastActivityDate  :</strong>
            @Model.LastActivityDate          
        </p>        
   
        <p></p>
</fieldset>
<p>
    @Html.ActionLink(SharedRes.StringsRes.ActionLnkEdit, "Edit", new { id = Model.UserId }) |
    @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index")
</p>
    <div class="pagination"></div>

    
  

