@model Atis.Domain.Models.Tbl69FiSpecies 

<script type="text/javascript">
$(function()   {
    $('#FiSpeciesID').focus();    
});
</script>

 
          <!-- _Form.cshtml  Skriptdatum: 15.03.2012  10:32    -->     
  
        @using (Html.BeginForm()) {
        <div class="pagination">
            <p><input type="submit" value="@SharedRes.StringsRes.ButtonSave" />  
                @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index", null, new { style = "font-weight:bold" })  
                @Html.ActionLink(SharedRes.StringsRes.ActionLnkClear, "Create", null, null)  
            </p> 
        </div>

        @Html.ValidationSummary() 
            <fieldset><legend>@SharedRes.StringsRes.Fields </legend>  
  
              <table><colgroup style="width:12em" span="2"></colgroup>                                             

                     <tr>
                         <td>@Tbl66GenussesRes.StringsRes.GenusID </td>
                         <td>@Html.DropDownListFor(m => m.GenusID, ViewData["GenusNameDDL"] as SelectList, SharedRes.StringsRes.DDLSelectOne, new { @class = "ddl15" })          
                         @Html.ValidationMessageFor(m => m.GenusID) </td>
                     </tr>                      
      
                     <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.FiSpeciesName </td>
                        <td>@Html.TextBoxFor(m => m.FiSpeciesName, new { @class = "textbox36" }) 
                        @Html.ValidationMessageFor(m => m.FiSpeciesName) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.Subspecies </td>
                        <td>@Html.TextBoxFor(m => m.Subspecies, new { @class = "textbox36" }) 
                        @Html.ValidationMessageFor(m => m.Subspecies) </td>
                    </tr>   
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.Divers </td>
                        <td>@Html.TextBoxFor(m => m.Divers, new { @class = "textbox36" }) 
                        @Html.ValidationMessageFor(m => m.Divers)</td>
                    </tr>   

                     <tr>
                         <td>@Tbl68SpeciesgroupsRes.StringsRes.SpeciesgroupID </td>
                         <td>@Html.DropDownListFor(m => m.SpeciesgroupID, ViewData["SpeciesgroupNameDDL"] as SelectList, SharedRes.StringsRes.DDLSelectOne, new { @class = "ddl15" })           
                         @Html.ValidationMessageFor(m => m.SpeciesgroupID) </td>
                     </tr>                      
     
                    <tr>
                        <td>@SharedRes.StringsRes.Valid_Year </td>
                        <td>@Html.EditorFor(m => m.Valid) 
                        @Html.ValidationMessageFor(m => m.Valid)                                    
                        @Html.TextBoxFor(m => m.ValidYear, new { @class = "textbox3" }) 
                        @Html.ValidationMessageFor(m => m.ValidYear) </td>
                    </tr>   
 
                    <tr>
                        <td>@SharedRes.StringsRes.Author_Year </td>
                        <td>@Html.TextBoxFor(m => m.Author, new { @class = "textbox72" }) 
                        @Html.ValidationMessageFor(m => m.Author) 
                        @Html.TextBoxFor(m => m.AuthorYear, new { @class = "textbox3" }) 
                        @Html.ValidationMessageFor(m => m.AuthorYear) </td>
                    </tr>   
     
                    <tr>                   
                        <td>@Tbl69FiSpeciessesRes.StringsRes.MemoSpecies </td>
                        <td>@Html.TextAreaFor(m => m.MemoSpecies, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoSpecies) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.TradeName </td>
                        <td>@Html.TextBoxFor(m => m.TradeName, new { @class = "textbox72" }) 
                        @Html.ValidationMessageFor(m => m.TradeName) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.Importer_Year </td>
                        <td>@Html.TextBoxFor(m => m.Importer, new { @class = "textbox72" }) 
                        <@Tbl69FiSpeciessesRes.StringsRes.ImportingYear 
                        <@Html.TextBoxFor(m => m.ImportingYear, new { @class = "textbox3" }) 
                        @Html.ValidationMessageFor(m => m.ImportingYear) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.TypeSpecies </td>
                        <td>@Html.EditorFor(m => m.TypeSpecies, new { @class = "textbox72" }) 
                        @Html.ValidationMessageFor(m => m.TypeSpecies) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.LDANumber_LDAOrigin </td>
                        <td>@Html.TextBoxFor(m => m.LNumber, new { @class = "textbox36" }) 
                        @Html.ValidationMessageFor(m => m.LNumber) 
                        @Html.TextBoxFor(m => m.LDANumber, new { @class = "textbox36" }) 
                        @Html.ValidationMessageFor(m => m.LDANumber) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.LNumber_LOrigin </td>
                        <td>@Html.TextBoxFor(m => m.LOrigin, new { @class = "textbox36" }) 
                        @Html.ValidationMessageFor(m => m.LOrigin) 
                        @Html.TextBoxFor(m => m.LDAOrigin, new { @class = "textbox36" }) 
                        @Html.ValidationMessageFor(m => m.LDAOrigin) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.BasinLength </td>
                        <td>@Html.TextBoxFor(m => m.BasinLength, new { @class = "textbox3" })  cm
                        @Html.ValidationMessageFor(m => m.BasinLength) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.FishLength </td>
                        <td>@Html.TextBoxFor(m => m.FishLength, new { @class = "textbox3" })  cm
                        @Html.ValidationMessageFor(m => m.FishLength) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.Karnivore </td>
                        <td>@Html.EditorFor(m => m.Karnivore) 
                        @Html.ValidationMessageFor(m => m.Karnivore) 

                        @Tbl69FiSpeciessesRes.StringsRes.Herbivore 
                        @Html.EditorFor(m => m.Herbivore) 
                        @Html.ValidationMessageFor(m => m.Herbivore) 

                        @Tbl69FiSpeciessesRes.StringsRes.Limnivore 
                        @Html.EditorFor(m => m.Limnivore) 
                        @Html.ValidationMessageFor(m => m.Limnivore) 

                        @Tbl69FiSpeciessesRes.StringsRes.Omnivore 
                        @Html.EditorFor(m => m.Omnivore) 
                        @Html.ValidationMessageFor(m => m.Omnivore) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.MemoFoods </td>
                        <td>@Html.TextAreaFor(m => m.MemoFoods, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoFoods) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.Difficult1 </td>
                        <td>@Html.EditorFor(m => m.Difficult1) 
                        @Html.ValidationMessageFor(m => m.Difficult1) 

                        @Tbl69FiSpeciessesRes.StringsRes.Difficult2 
                        @Html.EditorFor(m => m.Difficult2) 
                        @Html.ValidationMessageFor(m => m.Difficult2) 

                        @Tbl69FiSpeciessesRes.StringsRes.Difficult3 
                        @Html.EditorFor(m => m.Difficult3) 
                        @Html.ValidationMessageFor(m => m.Difficult3) 

                        @Tbl69FiSpeciessesRes.StringsRes.Difficult4 
                        @Html.EditorFor(m => m.Difficult4) 
                        @Html.ValidationMessageFor(m => m.Difficult4) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.RegionTop </td>
                        <td>@Html.EditorFor(m => m.RegionTop) 
                        @Html.ValidationMessageFor(m => m.RegionTop) 

                        @Tbl69FiSpeciessesRes.StringsRes.RegionMiddle 
                        @Html.EditorFor(m => m.RegionMiddle) 
                        @Html.ValidationMessageFor(m => m.RegionMiddle) 

                        @Tbl69FiSpeciessesRes.StringsRes.RegionBottom 
                        @Html.EditorFor(m => m.RegionBottom) 
                        @Html.ValidationMessageFor(m => m.RegionBottom) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.MemoRegion </td>
                        <td>@Html.TextAreaFor(m => m.MemoRegion, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoRegion) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.MemoTech </td>
                        <td>@Html.TextAreaFor(m => m.MemoTech, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoTech) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.Ph1 </td>
                        <td>@Html.TextBoxFor(m => m.Ph1, new { @class = "textbox3" }) 
                        @Html.ValidationMessageFor(m => m.Ph1) 

                        @Tbl69FiSpeciessesRes.StringsRes.Ph2 
                        @Html.TextBoxFor(m => m.Ph2, new { @class = "textbox3" }) 
                        @Html.ValidationMessageFor(m => m.Ph2) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.Temp1 </td>
                        <td>@Html.TextBoxFor(m => m.Temp1, new { @class = "textbox3" })  
                        @Html.ValidationMessageFor(m => m.Temp1) 

                        @Tbl69FiSpeciessesRes.StringsRes.Temp2 
                        @Html.TextBoxFor(m => m.Temp2, new { @class = "textbox3" })  °C
                        @Html.ValidationMessageFor(m => m.Temp2) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.Hardness1 </td>
                        <td>@Html.TextBoxFor(m => m.Hardness1, new { @class = "textbox3" })  
                        @Html.ValidationMessageFor(m => m.Hardness1) 

                        @Tbl69FiSpeciessesRes.StringsRes.Hardness2 
                        @Html.TextBoxFor(m => m.Hardness2, new { @class = "textbox3" })  dGH
                        @Html.ValidationMessageFor(m => m.Hardness2) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.CarboHardness1 </td>
                        <td>@Html.TextBoxFor(m => m.CarboHardness1, new { @class = "textbox3" })  
                        @Html.ValidationMessageFor(m => m.CarboHardness1) 

                        @Tbl69FiSpeciessesRes.StringsRes.CarboHardness2 
                        @Html.TextBoxFor(m => m.CarboHardness2, new { @class = "textbox3" })  KH
                        @Html.ValidationMessageFor(m => m.CarboHardness2) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.MemoHusbandry </td>
                        <td>@Html.TextAreaFor(m => m.MemoHusbandry, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoHusbandry) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.MemoBreeding </td>
                        <td>@Html.TextAreaFor(m => m.MemoBreeding, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoBreeding) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.MemoBuilt </td>
                        <td>@Html.TextAreaFor(m => m.MemoBuilt, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoBuilt) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.MemoColor </td>
                        <td>@Html.TextAreaFor(m => m.MemoColor, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoColor) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.MemoSozial </td>
                        <td>@Html.TextAreaFor(m => m.MemoSozial, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoSozial) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.MemoDomorphism </td>
                        <td>@Html.TextAreaFor(m => m.MemoDomorphism, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoDomorphism) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl69FiSpeciessesRes.StringsRes.MemoSpecial </td>
                        <td>@Html.TextAreaFor(m => m.MemoSpecial, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoSpecial) </td>
                    </tr>             
        
                   </table> 
        <p></p>            
        <div class="pagination">
            <p><input type="submit" value="@SharedRes.StringsRes.ButtonSave" />  
                @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index", null, new { style = "font-weight:bold" })  
            </p>  
        </div>  

        <ul id="nav-one" class="dropmenu css-only">      

         <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkGenusLeft, "Index", "Tbl66Genusses")</li>        
  
         <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkSpeciesgroupLeft, "Index", "Tbl68Speciesgroups")</li>      
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkNameCreateRight, "Create", "Tbl78Names", new { fispeciesId = Model.FiSpeciesID, plspeciesId = 0 }, null)</li>      
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkImageCreateRight, "Create", "Tbl81Images", new { fispeciesId = Model.FiSpeciesID, plspeciesId = 0 }, null)</li>      
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkSynonymCreateRight, "Create", "Tbl84Synonyms", new { fispeciesId = Model.FiSpeciesID, plspeciesId = 0 }, null)</li>      
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkGeographicCreateRight, "Create", "Tbl87Geographics", new { fispeciesId = Model.FiSpeciesID, plspeciesId = 0 }, null)</li>      
    
                          
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkReferenceCreateRight, "Create", "Tbl90References",       
  
       new { regnumId = 0,                        
  
            phylumId = 0,                        
  
            divisionId = 0,                        
  
            subphylumId = 0,                        
  
            subdivisionId = 0,                        
  
            superclassId = 0,                        
  
            classId = 0,                        
  
            subclassId = 0,                        
  
            infraclassId = 0,                        
  
            legioId = 0,                        
  
            ordoId = 0,                        
  
            subordoId = 0,                        
  
            infraordoId = 0,                        
  
            superfamilyId = 0,                        
  
            familyId = 0,                        
  
            subfamilyId = 0,                        
  
            infrafamilyId = 0,                        
  
            supertribusId = 0,                        
  
            tribusId = 0,                        
  
            subtribusId = 0,                        
  
            infratribusId = 0,                        
  
            genusId = 0,                        
fispeciesId = Model.FiSpeciesID,                            
  
            plspeciesId = 0                        
        
        }, null)</li>               
 
                            
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkCommentCreateRight, "Create", "Tbl93Comments",     
  
       new { regnumId = 0,                        
  
            phylumId = 0,                        
  
            divisionId = 0,                        
  
            subphylumId = 0,                        
  
            subdivisionId = 0,                        
  
            superclassId = 0,                        
  
            classId = 0,                        
  
            subclassId = 0,                        
  
            infraclassId = 0,                        
  
            legioId = 0,                        
  
            ordoId = 0,                        
  
            subordoId = 0,                        
  
            infraordoId = 0,                        
  
            superfamilyId = 0,                        
  
            familyId = 0,                        
  
            subfamilyId = 0,                        
  
            infrafamilyId = 0,                        
  
            supertribusId = 0,                        
  
            tribusId = 0,                        
  
            subtribusId = 0,                        
  
            infratribusId = 0,                        
  
            genusId = 0,                        
fispeciesId = Model.FiSpeciesID,                            
  
            plspeciesId = 0                        
        
         }, null)</li>               
 

     </ul> 
</fieldset>
}   
   
