@model Atis.Domain.Models.AspnetApplication 

        <!-- Details Skriptdatum:  23.03.2012  10:32    -->   

@{
    ViewBag.Title = AspnetApplicationsRes.StringsRes.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AspnetApplicationsRes.StringsRes.Details</h2>

    <div id="pagination">
        @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index", null, new { style = "font-weight:bold" })
    </div>

<fieldset><legend>@SharedRes.StringsRes.Fields </legend>   



     
        <p>
            <strong>@AspnetApplicationsRes.StringsRes.ApplicationId  :</strong>
            @Model.ApplicationId 
        </p>         
 
        <p>
            <strong>@AspnetApplicationsRes.StringsRes.ApplicationName  :</strong>
            @Model.ApplicationName 
        </p>      
     
        <p>
            <strong>@AspnetApplicationsRes.StringsRes.LoweredApplicationName  :</strong>
            @Model.LoweredApplicationName            
        </p>      
        <p>
            <strong>@AspnetApplicationsRes.StringsRes.Description  :</strong>
            @Model.Description            
        </p>        
   
        <p></p>
</fieldset>
<p>
    @Html.ActionLink(SharedRes.StringsRes.ActionLnkEdit, "Edit", new { id = Model.ApplicationId }) |
    @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index")
</p>
    <div class="pagination"></div>

    
  

