@model Atis.Domain.Models.aspnet_Membership 

        <!-- Details Skriptdatum:  06.02.2012  10:32    -->   

@{
    ViewBag.Title = aspnet_MembershipsRes.StringsRes.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@aspnet_MembershipsRes.StringsRes.Details</h2>

    <div id="pagination">
        @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index", null, new { style = "font-weight:bold" })
    </div>

<fieldset><legend>@SharedRes.StringsRes.Fields </legend>   



 
        <p>
            <strong>@aspnet_MembershipsRes.StringsRes.UserId  :</strong>
            @Model.UserId 
        </p>      
        <p>
            <strong>@SharedRes.StringsRes.CountID  :</strong>
            @Model.CountID            
        </p>      
 
        <p>
            <strong>@aspnet_MembershipsRes.StringsRes.UserName  :</strong>
            @Model.UserName 
        </p>      
    
        <p>
            <strong>@aspnet_ApplicationsRes.StringsRes.ApplicationName  :</strong>      
            @Model.aspnet_Applications.ApplicationName 
        </p>    
    
        <p>
            <strong>@aspnet_UsersRes.StringsRes.UserName  :</strong>      
            @Model.aspnet_Users.UserName  
        </p>    
   
        <p>
            <strong>@SharedRes.StringsRes.Valid  :</strong>
            @Html.DisplayFor(m => m.Valid)
            @Model.ValidYear 
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Author  :</strong>
            @Model.Author        
            @Model.AuthorYear             
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Synonym  :</strong>
            @Model.Synonym 
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Info  :</strong>
            @Model.Info            
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.EngName  :</strong>
            @Model.EngName             
        </p>      
        <p>
            <strong>@SharedRes.StringsRes.GerName  :</strong>
            @Model.GerName             
        </p>      
        <p>
            <strong>@SharedRes.StringsRes.FraName  :</strong>
            @Model.FraName            
        </p>      
        <p>
            <strong>@SharedRes.StringsRes.PorName  :</strong>
            @Model.PorName             
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Memo  :</strong>
            @Model.Memo            
        </p>      
 
         <p>
            <strong>@SharedRes.StringsRes.Writer  :</strong>
            @Model.Writer  |
            @Model.WriterDate.ToShortDateString() 
            <strong>@@</strong>
            @Model.WriterDate.ToShortTimeString() 
        </p>  
        <p>        
            <strong>@SharedRes.StringsRes.Updater  :</strong>
            @Model.Updater  |
            @Model.UpdaterDate.ToShortDateString() 
            <strong>@@</strong>
            @Model.UpdaterDate.ToShortTimeString() 
        </p>  
   
        <p></p>
</fieldset>
<p>
    @Html.ActionLink(SharedRes.StringsRes.ActionLnkEdit, "Edit", new { id = Model.UserId }) |
    @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index")
</p>
    <div class="pagination"></div>

    
  

