@model Atis.Domain.ViewModels.AspnetApplications.ListViewModel

        <!-- Index  Skriptdatum:  16.03.2012  10:32   -->    
    

@{
    ViewBag.Title =  AspnetApplicationsRes.StringsRes.Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AspnetApplicationsRes.StringsRes.Index</h2>

@using (Html.BeginForm("Index", "AspnetApplications", FormMethod.Get))              
{
    <fieldset class="filtering">
        <legend>@SharedRes.StringsRes.Filter</legend>  
        <div> 
            <p></p>         
  
            <table>                                             
                <tr>  
                    <td style="width:8em"><strong>@AspnetApplicationsRes.StringsRes.ApplicationId </strong></td>
                    <td><input type="text" id="aspnetApplicationid" name="aspnetApplicationid" /></td>            
                    <td style="width:8em"><strong>@AspnetApplicationsRes.StringsRes.ApplicationName </strong></td>
                    <td><input type="text" id="aspnetApplicationname" name="aspnetApplicationname" /></td>            
  
                    
                    @Html.Hidden("sortBy", Model.SortBy)
                    @Html.Hidden("ascending", Model.SortAscending)

                    <td><input type="submit" value="@SharedRes.StringsRes.Search" /></td> 
                </tr>   
            </table>            
 
        </div>
    </fieldset>
}

<table class="grid" style="width: 95%">                
    <tr>
        <th></th>   
 
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "ApplicationName" }, { "DisplayName", AspnetApplicationsRes.StringsRes.ApplicationName } })</th>                    
  
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "LoweredApplicationName" }, { "DisplayName", AspnetApplicationsRes.StringsRes.LoweredApplicationName } })</th>   
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "Description" }, { "DisplayName", AspnetApplicationsRes.StringsRes.Description } })</th>   

     </tr>

    @foreach (var item in Model.AspnetApplications) { 
    
    <tr>
        <td class="left">
            @Html.ActionLink(SharedRes.StringsRes.ActionLnkDelete, "Delete", new { id = item.ApplicationId }) | 
            @Html.ActionLink(SharedRes.StringsRes.ActionLnkEdit, "Edit", new { id = item.ApplicationId }) |
            @Html.ActionLink(SharedRes.StringsRes.ActionLnkDetails, "Details", new { id = item.ApplicationId }) </td>           

  
        <td class="left">@item.ApplicationName </td>                   
        <td class="left">@item.LoweredApplicationName </td>   
        <td class="left">@item.Description </td>   

    </tr>    
    }     
    <tr>        
  
        <td class="pager" colspan="9">   
 
           @Html.Partial("_Pager", Model)
        </td>
    </tr>       
</table>
<div>
    <ul id="nav-one" class="dropmenu css-only">      
 
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkCreate, "Create", "AspnetApplications", new { NULLId = 0 }, null)</li>   
    </ul> 
</div>   
