@model Atis.Domain.ViewModels.AspnetMemberships.ListViewModel

        <!-- Index  Skriptdatum:  24.03.2012  10:32   -->    
    

@{
    ViewBag.Title =  AspnetMembershipsRes.StringsRes.Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@AspnetMembershipsRes.StringsRes.Index</h2>

@using (Html.BeginForm("Index", "AspnetMemberships", FormMethod.Get))              
{
    <fieldset class="filtering">
        <legend>@SharedRes.StringsRes.Filter</legend>  
        <div> 
            <p></p>         
  
            <table>                                             
                <tr>  
                    <td style="width:8em"><strong>@AspnetApplicationsRes.StringsRes.ApplicationName </strong></td>
                    <td>@Html.DropDownListFor(m => m.ApplicationId, Model.ApplicationList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })     </td>      
                    <td style="width:8em"><strong>@AspnetUsersRes.StringsRes.UserName </strong></td>
                    <td>@Html.DropDownListFor(m => m.UserId, Model.UserList, SharedRes.StringsRes.DDLAll, new { @class = "ddl15" })     </td>      
 
                    
                    @Html.Hidden("sortBy", Model.SortBy)
                    @Html.Hidden("ascending", Model.SortAscending)

                    <td><input type="submit" value="@SharedRes.StringsRes.Search" /></td> 
                </tr>   
            </table>               
 
        </div>
    </fieldset>
}

<table class="grid" style="width: 95%">                
    <tr>
        <th></th>   
  
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "Password" }, { "DisplayName", AspnetMembershipsRes.StringsRes.Password } })</th>   
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "Email" }, { "DisplayName", AspnetMembershipsRes.StringsRes.Email } })</th>   
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "PasswordQuestion" }, { "DisplayName", AspnetMembershipsRes.StringsRes.PasswordQuestion } })</th>   
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "PasswordAnswer" }, { "DisplayName", AspnetMembershipsRes.StringsRes.PasswordAnswer } })</th>   
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "IsApproved" }, { "DisplayName", AspnetMembershipsRes.StringsRes.IsApproved } })</th>   
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "IsLockedOut" }, { "DisplayName", AspnetMembershipsRes.StringsRes.IsLockedOut } })</th>   
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "CreateDate" }, { "DisplayName", AspnetMembershipsRes.StringsRes.CreateDate } })</th>   
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "CreateLastLoginDate" }, { "DisplayName", AspnetMembershipsRes.StringsRes.LastLoginDate } })</th>   

     </tr>

    @foreach (var item in Model.AspnetMemberships) { 
    
    <tr>
        <td class="left">
            @Html.ActionLink(SharedRes.StringsRes.ActionLnkDelete, "Delete", new { id = item.UserId }) | 
            @Html.ActionLink(SharedRes.StringsRes.ActionLnkEdit, "Edit", new { id = item.UserId }) |
            @Html.ActionLink(SharedRes.StringsRes.ActionLnkDetails, "Details", new { id = item.UserId }) </td>           

  
                          
        <td class="left">@item.Password </td>   
        <td class="left">@item.Email </td>   
        <td class="left">@item.PasswordQuestion </td>   
        <td class="left">@item.PasswordAnswer </td>   
        <td class="left">@item.IsApproved</td>   
        <td class="left">@item.IsLockedOut </td>   
        <td class="left">@item.CreateDate </td>   
        <td class="left">@item.LastLoginDate </td>   

    </tr>    
    }     
    <tr>        
  
        <td class="pager" colspan="9">   
 
           @Html.Partial("_Pager", Model)
        </td>
    </tr>       
</table>
<div>
    <ul id="nav-one" class="dropmenu css-only">      

         <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkApplicationLeft, "Index", "AspnetApplications")</li>        
  
         <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkUserLeft, "Index", "AspnetUsers")</li>      
   
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkCreate, "Create", "AspnetMemberships", new { applicationId = 0 }, null)</li>   
    </ul> 
</div>   
