@model Atis.Domain.Models.Tbl60Subtribus    	

       <!-- Delete  Skriptdatum:  7.1.2012  10:32    -->        

@{
    ViewBag.Title = Tbl60SubtribussesRes.StringsRes.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl60SubtribussesRes.StringsRes.Delete</h2>

    <div>
        <p>@SharedRes.StringsRes.DeleteMessage       
  
             <i>@Model.SubtribusName  ?</i>   
 
         </p>     	   
    </div>
@using (Html.BeginForm()) {
    <p>
            <input name="confirmButton" type="submit" value="@SharedRes.StringsRes.ButtonDelete" /> 
        @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index")

    </p>
}

    
