@model Atis.Domain.ViewModels.Tbl60Subtribusses.ListViewModel

        <!-- Index  Skriptdatum:  7.1.2012  10:32   -->    
    

@{
    ViewBag.Title =  Tbl60SubtribussesRes.StringsRes.Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl60SubtribussesRes.StringsRes.Index</h2>

@using (Html.BeginForm("Index", "Tbl60Subtribusses", FormMethod.Get))              
{
    <fieldset class="filtering">
        <legend>@SharedRes.StringsRes.Filter</legend>  
        <div> 
            <p></p>         
 
            <table>                                             
                <tr>  
                    <td style="width:8em"><strong>@Tbl60SubtribussesRes.StringsRes.SubtribusID </strong></td>
                    <td><input type="text" id="subtribusid" name="subtribusid" /></td>            
                    <td style="width:8em"><strong>@Tbl60SubtribussesRes.StringsRes.SubtribusName </strong></td>
                    <td><input type="text" id="subtribusname" name="subtribusname" /></td>            
                    <td style="width:8em"><strong>@Tbl57TribussesRes.StringsRes.TribusName </strong></td>
                    <td>@Html.DropDownListFor(m => m.TribusID, Model.TribusList, SharedRes.StringsRes.DDLAll, new { @class = "ddl" })     </td>      
  
                    <td style="width:4em"><strong>@SharedRes.StringsRes.Valid </strong></td>
                    <td>@Html.EditorFor(m => m.Valid)</td>

                    @Html.Hidden("sortBy", Model.SortBy)
                    @Html.Hidden("ascending", Model.SortAscending)

                    <td><input type="submit" value="@SharedRes.StringsRes.Search" /></td> 
                </tr>   
            </table>        
 
        </div>
    </fieldset>
}

<table class="grid" style="width: 95%">                
    <tr>
        <th></th>   
 
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "SubtribusName" }, { "DisplayName", Tbl60SubtribussesRes.StringsRes.SubtribusName } })</th>                    
 
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "Author" }, { "DisplayName", SharedRes.StringsRes.Author } })</th>
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "AuthorYear" }, { "DisplayName", SharedRes.StringsRes.AuthorYear } })</th>  
 
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "Valid" }, { "DisplayName", SharedRes.StringsRes.Valid } })</th>
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "ValidYear" }, { "DisplayName", SharedRes.StringsRes.ValidYear } })</th>   
 
        <th>@Html.Partial("_SmartLink", Model, new ViewDataDictionary { { "ColumnName", "TribusID" }, { "DisplayName", Tbl57TribussesRes.StringsRes.TribusName } })</th>                 

     </tr>

    @foreach (var item in Model.Tbl60Subtribusses) { 
    
    <tr>
        <td class="left">
            @Html.ActionLink(SharedRes.StringsRes.ActionLnkDelete, "Delete", new { id = item.SubtribusID }) | 
            @Html.ActionLink(SharedRes.StringsRes.ActionLnkEdit, "Edit", new { id = item.SubtribusID }) |
            @Html.ActionLink(SharedRes.StringsRes.ActionLnkDetails, "Details", new { id = item.SubtribusID }) </td>           

 
        <td class="left">@item.SubtribusName </td>                    
 
        <td class="left">@item.Author</td>       
        <td class="align-middle">@item.AuthorYear</td>        
  
 
        <td class="align-middle">
        @if (item.Valid == true) { 
                <img src="@Url.Content("~/Content/Images/Ok.png")" alt="@SharedRes.StringsRes.ValidYes" title="@SharedRes.StringsRes.ValidYes" />   } 
            else { 
                <img src="@Url.Content("~/Content/Images/cancel.png")" alt="@SharedRes.StringsRes.ValidNo" title="@SharedRes.StringsRes.ValidNo" />   
           } 
         </td>
        <td class="align-middle">@item.ValidYear</td>   
 
        <td class="left">@item.Tbl57Tribusses.TribusName  </td>                 

    </tr>    
    }     
    <tr>        
  
        <td class="pager" colspan="9">   
 
           @Html.Partial("_Pager", Model)
        </td>
    </tr>       
</table>
<div>
    <ul id="nav-one" class="dropmenu css-only">      

         <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkTribusLeft, "Index", "Tbl57Tribusses")</li>        
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkInfratribusRight, "Index", "Tbl63Infratribusses")</li>      
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkInfratribusCreateRight, "Create", "Tbl63Infratribusses", new { subtribusId = 0 }, null)</li>  
    
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkReferenceRight, "Index", "Tbl90References")</li>                       
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkReferenceCreateRight, "Create", "Tbl90References",
            new { regnumId = 0,
                      phylumId = 0,
                      divisionId = 0,
                      subphylumId = 0,
                      subdivisionId = 0,
                      superclassId = 0,
                      classId = 0,
                      subclassId = 0,
                      infraclassId = 0,
                      legioId = 0,
                      ordoId = 0,
                      subordoId = 0,
                      infraordoId = 0,
                      superfamilyId = 0,
                      familyId = 0,
                      subfamilyId = 0,
                      infrafamilyId = 0,
                      supertribusId = 0,
                      tribusId = 0,
                      subtribusId = 0,
                      infratribusId = 0,
                      genusId = 0,
                      fispeciesId = 0,
                      plspeciesId = 0
            }, null)</li>               
 
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkCommentRight, "Index", "Tbl93Comments")</li>                       
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkCommentCreateRight, "Create", "Tbl93Comments",
            new { regnumId = 0,
                      phylumId = 0,
                      divisionId = 0,
                      subphylumId = 0,
                      subdivisionId = 0,
                      superclassId = 0,
                      classId = 0,
                      subclassId = 0,
                      infraclassId = 0,
                      legioId = 0,
                      ordoId = 0,
                      subordoId = 0,
                      infraordoId = 0,
                      superfamilyId = 0,
                      familyId = 0,
                      subfamilyId = 0,
                      infrafamilyId = 0,
                      supertribusId = 0,
                      tribusId = 0,
                      subtribusId = 0,
                      infratribusId = 0,
                      genusId = 0,
                      fispeciesId = 0,
                      plspeciesId = 0
            }, null)</li>               
 
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkCreate, "Create", "Tbl60Subtribusses", new { tribusId = 0 }, null)</li>   
    </ul> 
</div>   
