@model Atis.Domain.Models.Tbl72PlSpecies 

<script type="text/javascript">
$(function()   {
    $('#PlSpeciesID').focus();    
});
</script>

 
          <!-- _Form.cshtml  Skriptdatum: 15.03.2012  10:32    -->     
  
        @using (Html.BeginForm()) {
        <div class="pagination">
            <p><input type="submit" value="@SharedRes.StringsRes.ButtonSave" />  
                @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index", null, new { style = "font-weight:bold" })  
                @Html.ActionLink(SharedRes.StringsRes.ActionLnkClear, "Create", null, null)  
            </p> 
        </div>

        @Html.ValidationSummary() 
            <fieldset><legend>@SharedRes.StringsRes.Fields </legend>  
  
              <table><colgroup style="width:12em" span="2"></colgroup>                                             

                     <tr>
                         <td>@Tbl66GenussesRes.StringsRes.GenusID </td>
                         <td>@Html.DropDownListFor(m => m.GenusID, ViewData["GenusNameDDL"] as SelectList, SharedRes.StringsRes.DDLSelectOne, new { @class = "ddl15" })          
                         @Html.ValidationMessageFor(m => m.GenusID) </td>
                     </tr>                      
       
                     <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.PlSpeciesName </td>
                        <td>@Html.TextBoxFor(m => m.PlSpeciesName, new { @class = "textbox36" }) 
                        @Html.ValidationMessageFor(m => m.PlSpeciesName) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.Subspecies </td>
                        <td>@Html.TextBoxFor(m => m.Subspecies, new { @class = "textbox36" }) 
                        @Html.ValidationMessageFor(m => m.Subspecies) </td>
                    </tr>   
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.Divers </td>
                        <td>@Html.TextBoxFor(m => m.Divers, new { @class = "textbox36" }) 
                        @Html.ValidationMessageFor(m => m.Divers) </td>
                    </tr>   

                     <tr>
                         <td>@Tbl68SpeciesgroupsRes.StringsRes.SpeciesgroupID </td>
                         <td>@Html.DropDownListFor(m => m.SpeciesgroupID, ViewData["SpeciesgroupNameDDL"] as SelectList, SharedRes.StringsRes.DDLSelectOne, new { @class = "ddl15" })           
                         @Html.ValidationMessageFor(m => m.SpeciesgroupID) </td>
                     </tr>                      
     
                    <tr>
                        <td>@SharedRes.StringsRes.Valid_Year </td>
                        <td>@Html.EditorFor(m => m.Valid) 
                        @Html.ValidationMessageFor(m => m.Valid)                                    
                        @Html.TextBoxFor(m => m.ValidYear, new { @class = "textbox3" }) 
                        @Html.ValidationMessageFor(m => m.ValidYear) </td>
                    </tr>   
 
                    <tr>
                        <td>@SharedRes.StringsRes.Author_Year </td>
                        <td>@Html.TextBoxFor(m => m.Author, new { @class = "textbox72" }) 
                        @Html.ValidationMessageFor(m => m.Author) 
                        @Html.TextBoxFor(m => m.AuthorYear, new { @class = "textbox3" }) 
                        @Html.ValidationMessageFor(m => m.AuthorYear) </td>
                    </tr>   
     
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.MemoSpecies </td>
                        <td>@Html.TextAreaFor(m => m.MemoSpecies, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoSpecies) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.TradeName </td>
                        <td>@Html.TextBoxFor(m => m.TradeName, new { @class = "textbox72" }) 
                        @Html.ValidationMessageFor(m => m.TradeName) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.Importer_Year </td>
                        <td>@Html.TextBoxFor(m => m.Importer, new { @class = "textbox72" }) 
                        <@Tbl72PlSpeciessesRes.StringsRes.ImportingYear 
                        <@Html.TextBoxFor(m => m.ImportingYear, new { @class = "textbox3" }) 
                        @Html.ValidationMessageFor(m => m.ImportingYear) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.BasinHeight </td>
                        <td>@Html.TextBoxFor(m => m.BasinHeight, new { @class = "textbox3" })  cm
                        @Html.ValidationMessageFor(m => m.BasinHeight) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.PlantLength </td>
                        <td>@Html.TextBoxFor(m => m.PlantLength, new { @class = "textbox3" })  cm
                        @Html.ValidationMessageFor(m => m.PlantLength) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.Difficult1 </td>
                        <td>@Html.EditorFor(m => m.Difficult1) 
                        @Html.ValidationMessageFor(m => m.Difficult1) 

                        @Tbl72PlSpeciessesRes.StringsRes.Difficult2 
                        @Html.EditorFor(m => m.Difficult2) 
                        @Html.ValidationMessageFor(m => m.Difficult2) 

                        @Tbl72PlSpeciessesRes.StringsRes.Difficult3 
                        @Html.EditorFor(m => m.Difficult3) 
                        @Html.ValidationMessageFor(m => m.Difficult3) 

                        @Tbl72PlSpeciessesRes.StringsRes.Difficult4 
                        @Html.EditorFor(m => m.Difficult4) 
                        @Html.ValidationMessageFor(m => m.Difficult4) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.MemoTech </td>
                        <td>@Html.TextAreaFor(m => m.MemoTech, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoTech) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.Ph1 </td>
                        <td>@Html.TextBoxFor(m => m.Ph1, new { @class = "textbox3" }) 
                        @Html.ValidationMessageFor(m => m.Ph1) 

                        @Tbl72PlSpeciessesRes.StringsRes.Ph2 
                        @Html.TextBoxFor(m => m.Ph2, new { @class = "textbox3" }) 
                        @Html.ValidationMessageFor(m => m.Ph2) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.Temp1 </td>
                        <td>@Html.TextBoxFor(m => m.Temp1, new { @class = "textbox3" })  
                        @Html.ValidationMessageFor(m => m.Temp1) 

                        @Tbl72PlSpeciessesRes.StringsRes.Temp2 
                        @Html.TextBoxFor(m => m.Temp2, new { @class = "textbox3" })  °C
                        @Html.ValidationMessageFor(m => m.Temp2) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.Hardness1 </td>
                        <td>@Html.TextBoxFor(m => m.Hardness1, new { @class = "textbox3" })  
                        @Html.ValidationMessageFor(m => m.Hardness1) 

                        @Tbl72PlSpeciessesRes.StringsRes.Hardness2 
                        @Html.TextBoxFor(m => m.Hardness2, new { @class = "textbox3" })  dGH
                        @Html.ValidationMessageFor(m => m.Hardness2) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.CarboHardness1 </td>
                        <td>@Html.TextBoxFor(m => m.CarboHardness1, new { @class = "textbox3" })  
                        @Html.ValidationMessageFor(m => m.CarboHardness1) 

                        @Tbl72PlSpeciessesRes.StringsRes.CarboHardness2 
                        @Html.TextBoxFor(m => m.CarboHardness2, new { @class = "textbox3" })  KH
                        @Html.ValidationMessageFor(m => m.CarboHardness2) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.MemoBuilt </td>
                        <td>@Html.TextAreaFor(m => m.MemoBuilt, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoBuilt) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.MemoColor </td>
                        <td>@Html.TextAreaFor(m => m.MemoColor, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoColor) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.MemoReproduction </td>
                        <td>@Html.TextAreaFor(m => m.MemoReproduction, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoReproduction) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.MemoCulture </td>
                        <td>@Html.TextAreaFor(m => m.MemoCulture, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoCulture) </td>
                    </tr>    
                    <tr>
                        <td>@Tbl72PlSpeciessesRes.StringsRes.MemoGlobal </td>              
                        <td>@Html.TextAreaFor(m => m.MemoGlobal, 6, 108, new { @class = "textbox" })
                        @Html.ValidationMessageFor(m => m.MemoGlobal) </td>
                    </tr>             
        
                   </table> 
        <p></p>            
        <div class="pagination">
            <p><input type="submit" value="@SharedRes.StringsRes.ButtonSave" />  
                @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index", null, new { style = "font-weight:bold" })  
            </p>  
        </div>  

        <ul id="nav-one" class="dropmenu css-only">      

         <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkGenusLeft, "Index", "Tbl66Genusses")</li>        
  
         <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkSpeciesgroupLeft, "Index", "Tbl68Speciesgroups")</li>      
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkNameCreateRight, "Create", "Tbl78Names", new { fispeciesId = 0, plspeciesId = Model.PlSpeciesID }, null)</li>      
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkImageCreateRight, "Create", "Tbl81Images", new { fispeciesId = 0, plspeciesId = Model.PlSpeciesID }, null)</li>      
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkSynonymCreateRight, "Create", "Tbl84Synonyms", new { fispeciesId = 0, plspeciesId = Model.PlSpeciesID }, null)</li>      
  
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkGeographicCreateRight, "Create", "Tbl87Geographics", new { fispeciesId = 0, plspeciesId = Model.PlSpeciesID }, null)</li>      
    
                          
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkReferenceCreateRight, "Create", "Tbl90References",       
  
       new { regnumId = 0,                        
  
            phylumId = 0,                        
  
            divisionId = 0,                        
  
            subphylumId = 0,                        
  
            subdivisionId = 0,                        
  
            superclassId = 0,                        
  
            classId = 0,                        
  
            subclassId = 0,                        
  
            infraclassId = 0,                        
  
            legioId = 0,                        
  
            ordoId = 0,                        
  
            subordoId = 0,                        
  
            infraordoId = 0,                        
  
            superfamilyId = 0,                        
  
            familyId = 0,                        
  
            subfamilyId = 0,                        
  
            infrafamilyId = 0,                        
  
            supertribusId = 0,                        
  
            tribusId = 0,                        
  
            subtribusId = 0,                        
  
            infratribusId = 0,                        
  
            genusId = 0,                        
  
            fispeciesId = 0,                        
plspeciesId = Model.PlSpeciesID                            
        
        }, null)</li>               
 
                            
        <li>@Html.ActionLink(SharedRes.StringsRes.ActionLnkCommentCreateRight, "Create", "Tbl93Comments",     
  
       new { regnumId = 0,                        
  
            phylumId = 0,                        
  
            divisionId = 0,                        
  
            subphylumId = 0,                        
  
            subdivisionId = 0,                        
  
            superclassId = 0,                        
  
            classId = 0,                        
  
            subclassId = 0,                        
  
            infraclassId = 0,                        
  
            legioId = 0,                        
  
            ordoId = 0,                        
  
            subordoId = 0,                        
  
            infraordoId = 0,                        
  
            superfamilyId = 0,                        
  
            familyId = 0,                        
  
            subfamilyId = 0,                        
  
            infrafamilyId = 0,                        
  
            supertribusId = 0,                        
  
            tribusId = 0,                        
  
            subtribusId = 0,                        
  
            infratribusId = 0,                        
  
            genusId = 0,                        
  
            fispeciesId = 0,                        
plspeciesId = Model.PlSpeciesID                            
        
         }, null)</li>               
 

     </ul> 
</fieldset>
}   
   
