@model Atis.Domain.Models.Tbl24Subclass 

        <!-- Details Skriptdatum:  20.12.2011  18:32    -->   

@{
    ViewBag.Title = Tbl24SubclassesRes.StringsRes.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl24SubclassesRes.StringsRes.Details</h2>

    <div id="pagination">
        @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index", null, new { style = "font-weight:bold" })
    </div>

<fieldset><legend>@SharedRes.StringsRes.Fields </legend>   



 
        <p>
            <strong>@Tbl24SubclassesRes.StringsRes.SubclassID  :</strong>
            @Model.SubclassID 
        </p>      
        <p>
            <strong>@SharedRes.StringsRes.CountID  :</strong>
            @Model.CountID            
        </p>      
 
        <p>
            <strong>@Tbl24SubclassesRes.StringsRes.SubclassName  :</strong>
            @Model.SubclassName 
        </p>      
    
        <p>
            <strong>@Tbl21ClassesRes.StringsRes.ClassName  :</strong>      
            @Model.Tbl21Classes.ClassName 
        </p>    
   
        <p>
            <strong>@SharedRes.StringsRes.Valid  :</strong>
            @Html.DisplayFor(m => m.Valid)
            @Model.ValidYear 
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Author  :</strong>
            @Model.Author        
            @Model.AuthorYear             
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Synonym  :</strong>
            @Model.Synonym 
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Info  :</strong>
            @Model.Info            
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.EngName  :</strong>
            @Model.EngName             
        </p>      
        <p>
            <strong>@SharedRes.StringsRes.GerName  :</strong>
            @Model.GerName             
        </p>      
        <p>
            <strong>@SharedRes.StringsRes.FraName  :</strong>
            @Model.FraName            
        </p>      
        <p>
            <strong>@SharedRes.StringsRes.PorName  :</strong>
            @Model.PorName             
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Memo  :</strong>
            @Model.Memo            
        </p>      
 
         <p>
            <strong>@SharedRes.StringsRes.Writer  :</strong>
            @Model.Writer  |
            @Model.WriterDate.ToShortDateString() 
            <strong>@@</strong>
            @Model.WriterDate.ToShortTimeString() 
        </p>  
        <p>        
            <strong>@SharedRes.StringsRes.Updater  :</strong>
            @Model.Updater  |
            @Model.UpdaterDate.ToShortDateString() 
            <strong>@@</strong>
            @Model.UpdaterDate.ToShortTimeString() 
        </p>  
   
        <p></p>
</fieldset>
<p>
    @Html.ActionLink(SharedRes.StringsRes.ActionLnkEdit, "Edit", new { id = Model.SubclassID }) |
    @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index")
</p>
    <div class="pagination"></div>

    
  

