@model Atis.Domain.Models.Tbl87Geographic
        @using System.Globalization      
 

        <!-- Details Skriptdatum:  15.03.2012  10:32    -->   

@{
    ViewBag.Title = Tbl87GeographicsRes.StringsRes.Details;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl87GeographicsRes.StringsRes.Details</h2>

    <div id="pagination">
        @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index", null, new { style = "font-weight:bold" })
    </div>

<fieldset><legend>@SharedRes.StringsRes.Fields </legend>   



  
        <div id="mapDiv">    
              @Html.Partial("_Map"); 
        </div> 
 
        <p>
            <strong>@Tbl87GeographicsRes.StringsRes.GeographicID  :</strong>
            @Model.GeographicID 
        </p>      
        <p>
            <strong>@SharedRes.StringsRes.CountID  :</strong>
            @Model.CountID            
        </p>      
   
        @if (!@Model.Tbl69FiSpeciesses.Tbl66Genusses.GenusName .Contains("#")) { 
    
        <p>
            <strong>@Tbl69FiSpeciessesRes.StringsRes.FiSpeciesID  :</strong>      
            @Model.Tbl69FiSpeciesses.Tbl66Genusses.GenusName 
            @Model.Tbl69FiSpeciesses.FiSpeciesName  
            @Model.Tbl69FiSpeciesses.Subspecies  
            @Model.Tbl69FiSpeciesses.Divers  
        </p>    
    
        }
        else  { 
    
        <p>
            <strong>@Tbl72PlSpeciessesRes.StringsRes.PlSpeciesID  :</strong>      
            @Model.Tbl72PlSpeciesses.Tbl66Genusses.GenusName  
            @Model.Tbl72PlSpeciesses.PlSpeciesName  
            @Model.Tbl72PlSpeciesses.Subspecies  
            @Model.Tbl72PlSpeciesses.Divers  
        </p>    
    
        } 
  
        <p>
            <strong>@Tbl87GeographicsRes.StringsRes.Country  :</strong>
            @Model.Country            
        </p>      
        <p>
            <strong>@Tbl87GeographicsRes.StringsRes.Address  :</strong>
            @Model.Address             
        </p>      
        <p>
            <strong>@Tbl87GeographicsRes.StringsRes.Latitude  :</strong>
            @Convert.ToString(Model.Latitude, CultureInfo.InvariantCulture) 
        </p>      
        <p>
            <strong>@Tbl87GeographicsRes.StringsRes.Longitude  :</strong>
            @Convert.ToString(Model.Longitude, CultureInfo.InvariantCulture) 
         </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Valid  :</strong>
            @Html.DisplayFor(m => m.Valid)
            @Model.ValidYear 
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Author  :</strong>
            @Model.Author        
            @Model.AuthorYear             
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Info  :</strong>
            @Model.Info            
        </p>      
 
        <p>
            <strong>@SharedRes.StringsRes.Memo  :</strong>
            @Model.Memo            
        </p>      
 
         <p>
            <strong>@SharedRes.StringsRes.Writer  :</strong>
            @Model.Writer  |
            @Model.WriterDate.ToShortDateString() 
            <strong>@@</strong>
            @Model.WriterDate.ToShortTimeString() 
        </p>  
        <p>        
            <strong>@SharedRes.StringsRes.Updater  :</strong>
            @Model.Updater  |
            @Model.UpdaterDate.ToShortDateString() 
            <strong>@@</strong>
            @Model.UpdaterDate.ToShortTimeString() 
        </p>  
   
        <p></p>
</fieldset>
<p>
    @Html.ActionLink(SharedRes.StringsRes.ActionLnkEdit, "Edit", new { id = Model.GeographicID }) |
    @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index")
</p>
    <div class="pagination"></div>

    
  

