@model Atis.Domain.ViewModels.Tbl03Regnums.ReportViewModel

       <!-- SearchIDResults Skriptdatum:  12.03.2014  12:32      -->

@{
    ViewBag.Title = "Tbl03RegnumsSearchIDResults";
    Layout = "~/Views/Shared/_Layout.cshtml";
}  

<h3>@SharedRes.StringsRes.Report</h3>    

  
@foreach (var result in Model.Tbl03RegnumsSearchResults)  {  
    if ((result.Author != null) && (result.AuthorYear != null))    { 
        <h1>@result.RegnumName @result.Author, @result.AuthorYear  </h1>  }  
    if ((result.Author != null) && (result.AuthorYear == null))    { 
        <h1>@result.RegnumName @result.Author  </h1>  }
    if (result.Author == null)
        {   <h1>@result.RegnumName  </h1>  }
    <p>
        @SharedRes.StringsRes.ReportTaxoID 
        @result.CountID 
    </p>      
  
    <h2>@SharedRes.StringsRes.ReportTaxoNomen</h2>      
  
    if (Model.SearchResults != null)   {
        foreach (var result1 in Model.SearchResults.Where(result1 => result1..Contains("#") == false))  {
            <table style="width: 95%" >
                <tr style="text-align: left;"><td style="width: 20%">@SharedRes.StringsRes.Regnum </td><td>@result1.</td></tr>   
            </table>
        }
    }    
  
    <table style="width:95%"> 
        <tr style="text-align:left;"><td style="width:20%">@SharedRes.StringsRes.ReportTaxoRank </td><td>@SharedRes.StringsRes.Genus </td></tr>
        <tr style="text-align:left;"><td style="width:20%">@SharedRes.StringsRes.Synonyms </td><td>@result.Synonym </td></tr>
        <tr style="text-align:left;"><td style="width:20%">@SharedRes.StringsRes.CommonNames </td>
        @if (result.EngName != null) {            
            <td>@result.EngName [@SharedRes.StringsRes.EngName]</td> } </tr>
        @if (result.GerName != null)  {            
            <tr style="text-align:left;"><td style="width:20%"> </td><td>@result.GerName [@SharedRes.StringsRes.GerName]</td></tr> }
        @if (result.FraName != null) {                                                                                                                              
            <tr style="text-align:left;"><td style="width:20%"> </td><td>@result.FraName [@SharedRes.StringsRes.FraName]</td></tr> }
        @if (result.PorName != null) {                                                                                                                               
            <tr style="text-align:left;"><td style="width:20%"> </td><td>@result.PorName [@SharedRes.StringsRes.PorName]</td></tr> }                                                        
    </table>    
  
    <p><strong>@SharedRes.StringsRes.ReportTaxoStatus </strong></p>  
    <table style="width:95%">
        <tr style="text-align:left;"><td style="width:20%">@SharedRes.StringsRes.ReportCurrentStanding </td>
            <td>
                @if (result.Valid == true)    { 
	    <img src="@Url.Content("~/Content/Images/Ok.png")" alt="@SharedRes.StringsRes.ValidYes" title="@SharedRes.StringsRes.ValidYes" />  }
	else   { 
	    <img src="@Url.Content("~/Content/Images/cancel.png")" alt="@SharedRes.StringsRes.ValidNo" title="@SharedRes.StringsRes.ValidNo" />  } 
            </td> 
        </tr>
    </table>       
  
    <p><strong>@SharedRes.StringsRes.ReportInfo </strong></p>  
    <table style="width:95%">			
        @if (result.Info != null) { 
            <tr style="text-align:left;"><td style="width:20%">@SharedRes.StringsRes.ReportInfo </td><td>@result.Info</td></tr> 
            <tr style="text-align:left;"><td style="width:20%">@SharedRes.StringsRes.ReportMemo </td><td>@result.Memo</td></tr> }		
    </table>    
  
    <h2>@SharedRes.StringsRes.ReportTaxoHiera</h2>      
  
    if (Model.SearchResults != null)  {
        foreach (var result1 in Model.SearchResults.Where(result1 => result1..Contains("#") == false))  {
            <table style="width:95%" >
	<tr style="text-align:left;">
	    <td style="width:40%; padding-left:0px; " >@SharedRes.StringsRes. </td>
	    <td><b>@Html.ActionLink(result1. + " " + result1.Subregnum, "SearchIDResults", new { id = result1. })</b>       
	        @Html.Partial("_ReportInfosPartial", result1)
	    </td>
	</tr>
            </table>
        }
    }    
  
    if (Model.SearchResults != null)  {
        foreach (var result1 in Model.SearchResults.Where(result1 => result1..Contains("#") == false))  {
            <table style="width:95%" >
	<tr style="text-align:left;">
	    <td style="width:40%; padding-left:10px; " >@SharedRes.StringsRes. </td>
	    <td><b>@Html.ActionLink(result1., "SearchIDResults", new { id = result1. })</b>       
	        @Html.Partial("_ReportInfosPartial", result1)
	    </td>
	</tr>
            </table>
        }
    }    
  
    if (Model.SearchResults != null)  {
        foreach (var result1 in Model.SearchResults.Where(result1 => result1..Contains("#") == false))  {
            <table style="width:95%" >
	<tr style="text-align:left;">
	    <td style="width:40%; padding-left:10px; " >@SharedRes.StringsRes. </td>
	    <td><b>@Html.ActionLink(result1., "SearchIDResults", new { id = result1. })</b>       
	        @Html.Partial("_ReportInfosPartial", result1)
	    </td>
	</tr>
            </table>
        }
    }    
  
    if (Model.SearchResults != null)  {
        foreach (var result1 in Model.SearchResults.Where(result1 => result1..Contains("#") == false))  {
            <table style="width:95%" >
	<tr style="text-align:left;">
	    <td style="width:40%; padding-left:20px; " >@SharedRes.StringsRes. </td>
	    <td><b>@Html.ActionLink(result1., "SearchIDResults", new { id = result1. })</b>       
	        @Html.Partial("_ReportInfosPartial", result1)
	    </td>
	</tr>
            </table>
        }
    }    
  
    if (Model.SearchResults != null)  {
        foreach (var result1 in Model.SearchResults.Where(result1 => result1..Contains("#") == false))  {
                <table style="width:95%" >
        	     <tr style="text-align:left;">
	               <td style="width:40%; padding-left:20px; " >@SharedRes.StringsRes. </td>
	               <td><b>@Html.ActionLink(result1., "SearchIDResults", new { id = result1. })</b>       
	                    @Html.Partial("_ReportInfosPartial", result1)
	               </td>
	            </tr>
                  </table>
        }
    }    
