@model Atis.Domain.Models.Tbl90RefExpert    	

       <!-- Delete  Skriptdatum:  29.12.2011  10:32    -->        

@{
    ViewBag.Title = Tbl90RefExpertsRes.StringsRes.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Tbl90RefExpertsRes.StringsRes.Delete</h2>

    <div>
        <p>@SharedRes.StringsRes.DeleteMessage       
  
             <i>@Model.RefExpertID  /  @Model.RefExpertName  ?</i>         
 
         </p>     	   
    </div>
@using (Html.BeginForm()) {
    <p>
            <input name="confirmButton" type="submit" value="@SharedRes.StringsRes.ButtonDelete" /> 
        @Html.ActionLink(SharedRes.StringsRes.ActionLnkBack, "Index")

    </p>
}

    
